[Unit]
Description=.NET Worker Service to monitor alarms in the Bergwacht Dashboard
After=network.target

[Service]
WorkingDirectory=/opt/dashboardalarmservice
ExecStart=/opt/dashboardalarmservice/AlarmService
Restart=always
RestartSec=10
Environment=DOTNET_ENVIRONMENT=Production

[Install]
WantedBy=multi-user.target
